[layout] {
  display: flex;
}

[layout="row"] {
  flex-direction: row;
}

[layout="col"] {
  flex-direction: column;
}

[layout-wrap] {
  flex-wrap: wrap;
}

//Layout-align is based on "horizontal|vertical" pattern
[layout-align="start"], [layout-align="start start"] {
  justify-content: flex-start;
  align-content: flex-start;
}

[layout-align="start center"] {
  justify-content: flex-start;
  align-content: center;
}

[layout-align="start end"] {
  justify-content: flex-start;
  align-content: flex-end;
}

[layout-align="start space-between"] {
  justify-content: flex-start;
  align-content: space-between;
}

[layout-align="start space-around"] {
  justify-content: flex-start;
  align-content: space-around;
}

[layout-align="center start"] {
  justify-content: center;
  align-content: flex-start;
}

[layout-align="center"], [layout-align="center center"] {
  justify-content: center;
  align-content: center;
}

[layout-align="center end"] {
  justify-content: center;
  align-content: flex-end;
}

[layout-align="center space-between"] {
  justify-content: center;
  align-content: space-between;
}

[layout-align="center space-around"] {
  justify-content: center;
  align-content: space-around;
}

[layout-align="end start"] {
  justify-content: flex-end;
  align-content: flex-start;
}

[layout-align="end center"] {
  justify-content: flex-end;
  align-content: center;
}

[layout-align="end"], [layout-align="end end"] {
  justify-content: flex-end;
  align-content: flex-end;
}

[layout-align="end space-between"] {
  justify-content: flex-end;
  align-content: space-between;
}

[layout-align="end space-around"] {
  justify-content: flex-end;
  align-content: space-around;
}

[layout-align="space-between start"] {
  justify-content: space-between;
  align-content: flex-start;
}

[layout-align="space-between center"] {
  justify-content: space-between;
  align-content: center;
}

[layout-align="space-between end"] {
  justify-content: space-between;
  align-content: flex-end;
}

[layout-align="space-between space-around"] {
  justify-content: space-between;
  align-content: space-around;
}

[layout-align="space-between"], [layout-align="space-between space-between"] {
  justify-content: space-between;
  align-content: space-between;
}

[layout-align="space-around start"] {
  justify-content: space-around;
  align-content: flex-start;
}

[layout-align="space-around center"] {
  justify-content: space-around;
  align-content: center;
}

[layout-align="space-around end"] {
  justify-content: space-around;
  align-content: flex-end;
}

[layout-align="space-around space-between"] {
  justify-content: space-around;
  align-content: space-between;
}

[layout-align="space-around"], [layout-align="space-around space-around"] {
  justify-content: space-around;
  align-content: space-around;
}

@for $i from 1 through 100 {
  [flex="#{$i}"] {
    flex: 0 0 #{$i}%;
  }
}

//SM
@media(max-width: $layout-breakpoint-sm) {
  [layout-sm="row"] {
    flex-direction: row;
  }

  [layout-sm="col"] {
    flex-direction: column;
  }

  [layout-wrap-sm] {
    flex-wrap: wrap;
  }

  @for $i from 1 through 100 {
    [flex-sm="#{$i}"] {
      flex: 0 0 #{$i}%;
    }
  }
}

//GT-SM
@media(min-width: $layout-breakpoint-sm + 1) {
  [layout-gt-sm="row"] {
    flex-direction: row;
  }

  [layout-gt-sm="col"] {
    flex-direction: column;
  }

  [layout-wrap-gt-sm] {
    flex-wrap: wrap;
  }

  @for $i from 1 through 100 {
    [flex-gt-sm="#{$i}"] {
      flex: 0 0 #{$i}%;
    }
  }
}

//MD
@media(max-width: $layout-breakpoint-md) {
  [layout-md="row"] {
    flex-direction: row;
  }

  [layout-md="col"] {
    flex-direction: column;
  }

  [layout-wrap-md] {
    flex-wrap: wrap;
  }

  @for $i from 1 through 100 {
    [flex-md="#{$i}"] {
      flex: 0 0 #{$i}%;
    }
  }
}

//GT-MD
@media(min-width: $layout-breakpoint-md + 1) {
  [layout-gt-md="row"] {
    flex-direction: row;
  }

  [layout-gt-md="col"] {
    flex-direction: column;
  }

  [layout-wrap-gt-md] {
    flex-wrap: wrap;
  }

  @for $i from 1 through 100 {
    [flex-gt-md="#{$i}"] {
      flex: 0 0 #{$i}%;
    }
  }
}

//LG
@media(max-width: $layout-breakpoint-lg) {
  [layout-lg="row"] {
    flex-direction: row;
  }

  [layout-lg="col"] {
    flex-direction: column;
  }

  [layout-wrap-lg] {
    flex-wrap: wrap;
  }

  @for $i from 1 through 100 {
    [flex-lg="#{$i}"] {
      flex: 0 0 #{$i}%;
    }
  }
}

//GT-LG
@media(min-width: $layout-breakpoint-lg + 1) {
  [layout-gt-lg="row"] {
    flex-direction: row;
  }

  [layout-gt-lg="col"] {
    flex-direction: column;
  }

  [layout-wrap-gt-lg] {
    flex-wrap: wrap;
  }

  @for $i from 1 through 100 {
    [flex-gt-lg="#{$i}"] {
      flex: 0 0 #{$i}%;
    }
  }
}