[layout] {
  display: flex; }

[layout="row"] {
  flex-direction: row; }

[layout="col"] {
  flex-direction: column; }

[layout-wrap] {
  flex-wrap: wrap; }

[layout-align="start"], [layout-align="start start"] {
  justify-content: flex-start;
  align-content: flex-start; }

[layout-align="start center"] {
  justify-content: flex-start;
  align-content: center; }

[layout-align="start end"] {
  justify-content: flex-start;
  align-content: flex-end; }

[layout-align="start space-between"] {
  justify-content: flex-start;
  align-content: space-between; }

[layout-align="start space-around"] {
  justify-content: flex-start;
  align-content: space-around; }

[layout-align="center start"] {
  justify-content: center;
  align-content: flex-start; }

[layout-align="center"], [layout-align="center center"] {
  justify-content: center;
  align-content: center; }

[layout-align="center end"] {
  justify-content: center;
  align-content: flex-end; }

[layout-align="center space-between"] {
  justify-content: center;
  align-content: space-between; }

[layout-align="center space-around"] {
  justify-content: center;
  align-content: space-around; }

[layout-align="end start"] {
  justify-content: flex-end;
  align-content: flex-start; }

[layout-align="end center"] {
  justify-content: flex-end;
  align-content: center; }

[layout-align="end"], [layout-align="end end"] {
  justify-content: flex-end;
  align-content: flex-end; }

[layout-align="end space-between"] {
  justify-content: flex-end;
  align-content: space-between; }

[layout-align="end space-around"] {
  justify-content: flex-end;
  align-content: space-around; }

[layout-align="space-between start"] {
  justify-content: space-between;
  align-content: flex-start; }

[layout-align="space-between center"] {
  justify-content: space-between;
  align-content: center; }

[layout-align="space-between end"] {
  justify-content: space-between;
  align-content: flex-end; }

[layout-align="space-between space-around"] {
  justify-content: space-between;
  align-content: space-around; }

[layout-align="space-between"], [layout-align="space-between space-between"] {
  justify-content: space-between;
  align-content: space-between; }

[layout-align="space-around start"] {
  justify-content: space-around;
  align-content: flex-start; }

[layout-align="space-around center"] {
  justify-content: space-around;
  align-content: center; }

[layout-align="space-around end"] {
  justify-content: space-around;
  align-content: flex-end; }

[layout-align="space-around space-between"] {
  justify-content: space-around;
  align-content: space-between; }

[layout-align="space-around"], [layout-align="space-around space-around"] {
  justify-content: space-around;
  align-content: space-around; }

[flex="1"] {
  flex: 0 0 1%; }

[flex="2"] {
  flex: 0 0 2%; }

[flex="3"] {
  flex: 0 0 3%; }

[flex="4"] {
  flex: 0 0 4%; }

[flex="5"] {
  flex: 0 0 5%; }

[flex="6"] {
  flex: 0 0 6%; }

[flex="7"] {
  flex: 0 0 7%; }

[flex="8"] {
  flex: 0 0 8%; }

[flex="9"] {
  flex: 0 0 9%; }

[flex="10"] {
  flex: 0 0 10%; }

[flex="11"] {
  flex: 0 0 11%; }

[flex="12"] {
  flex: 0 0 12%; }

[flex="13"] {
  flex: 0 0 13%; }

[flex="14"] {
  flex: 0 0 14%; }

[flex="15"] {
  flex: 0 0 15%; }

[flex="16"] {
  flex: 0 0 16%; }

[flex="17"] {
  flex: 0 0 17%; }

[flex="18"] {
  flex: 0 0 18%; }

[flex="19"] {
  flex: 0 0 19%; }

[flex="20"] {
  flex: 0 0 20%; }

[flex="21"] {
  flex: 0 0 21%; }

[flex="22"] {
  flex: 0 0 22%; }

[flex="23"] {
  flex: 0 0 23%; }

[flex="24"] {
  flex: 0 0 24%; }

[flex="25"] {
  flex: 0 0 25%; }

[flex="26"] {
  flex: 0 0 26%; }

[flex="27"] {
  flex: 0 0 27%; }

[flex="28"] {
  flex: 0 0 28%; }

[flex="29"] {
  flex: 0 0 29%; }

[flex="30"] {
  flex: 0 0 30%; }

[flex="31"] {
  flex: 0 0 31%; }

[flex="32"] {
  flex: 0 0 32%; }

[flex="33"] {
  flex: 0 0 33%; }

[flex="34"] {
  flex: 0 0 34%; }

[flex="35"] {
  flex: 0 0 35%; }

[flex="36"] {
  flex: 0 0 36%; }

[flex="37"] {
  flex: 0 0 37%; }

[flex="38"] {
  flex: 0 0 38%; }

[flex="39"] {
  flex: 0 0 39%; }

[flex="40"] {
  flex: 0 0 40%; }

[flex="41"] {
  flex: 0 0 41%; }

[flex="42"] {
  flex: 0 0 42%; }

[flex="43"] {
  flex: 0 0 43%; }

[flex="44"] {
  flex: 0 0 44%; }

[flex="45"] {
  flex: 0 0 45%; }

[flex="46"] {
  flex: 0 0 46%; }

[flex="47"] {
  flex: 0 0 47%; }

[flex="48"] {
  flex: 0 0 48%; }

[flex="49"] {
  flex: 0 0 49%; }

[flex="50"] {
  flex: 0 0 50%; }

[flex="51"] {
  flex: 0 0 51%; }

[flex="52"] {
  flex: 0 0 52%; }

[flex="53"] {
  flex: 0 0 53%; }

[flex="54"] {
  flex: 0 0 54%; }

[flex="55"] {
  flex: 0 0 55%; }

[flex="56"] {
  flex: 0 0 56%; }

[flex="57"] {
  flex: 0 0 57%; }

[flex="58"] {
  flex: 0 0 58%; }

[flex="59"] {
  flex: 0 0 59%; }

[flex="60"] {
  flex: 0 0 60%; }

[flex="61"] {
  flex: 0 0 61%; }

[flex="62"] {
  flex: 0 0 62%; }

[flex="63"] {
  flex: 0 0 63%; }

[flex="64"] {
  flex: 0 0 64%; }

[flex="65"] {
  flex: 0 0 65%; }

[flex="66"] {
  flex: 0 0 66%; }

[flex="67"] {
  flex: 0 0 67%; }

[flex="68"] {
  flex: 0 0 68%; }

[flex="69"] {
  flex: 0 0 69%; }

[flex="70"] {
  flex: 0 0 70%; }

[flex="71"] {
  flex: 0 0 71%; }

[flex="72"] {
  flex: 0 0 72%; }

[flex="73"] {
  flex: 0 0 73%; }

[flex="74"] {
  flex: 0 0 74%; }

[flex="75"] {
  flex: 0 0 75%; }

[flex="76"] {
  flex: 0 0 76%; }

[flex="77"] {
  flex: 0 0 77%; }

[flex="78"] {
  flex: 0 0 78%; }

[flex="79"] {
  flex: 0 0 79%; }

[flex="80"] {
  flex: 0 0 80%; }

[flex="81"] {
  flex: 0 0 81%; }

[flex="82"] {
  flex: 0 0 82%; }

[flex="83"] {
  flex: 0 0 83%; }

[flex="84"] {
  flex: 0 0 84%; }

[flex="85"] {
  flex: 0 0 85%; }

[flex="86"] {
  flex: 0 0 86%; }

[flex="87"] {
  flex: 0 0 87%; }

[flex="88"] {
  flex: 0 0 88%; }

[flex="89"] {
  flex: 0 0 89%; }

[flex="90"] {
  flex: 0 0 90%; }

[flex="91"] {
  flex: 0 0 91%; }

[flex="92"] {
  flex: 0 0 92%; }

[flex="93"] {
  flex: 0 0 93%; }

[flex="94"] {
  flex: 0 0 94%; }

[flex="95"] {
  flex: 0 0 95%; }

[flex="96"] {
  flex: 0 0 96%; }

[flex="97"] {
  flex: 0 0 97%; }

[flex="98"] {
  flex: 0 0 98%; }

[flex="99"] {
  flex: 0 0 99%; }

[flex="100"] {
  flex: 0 0 100%; }

@media (max-width: 600px) {
  [layout-sm="row"] {
    flex-direction: row; }
  [layout-sm="col"] {
    flex-direction: column; }
  [layout-wrap-sm] {
    flex-wrap: wrap; }
  [flex-sm="1"] {
    flex: 0 0 1%; }
  [flex-sm="2"] {
    flex: 0 0 2%; }
  [flex-sm="3"] {
    flex: 0 0 3%; }
  [flex-sm="4"] {
    flex: 0 0 4%; }
  [flex-sm="5"] {
    flex: 0 0 5%; }
  [flex-sm="6"] {
    flex: 0 0 6%; }
  [flex-sm="7"] {
    flex: 0 0 7%; }
  [flex-sm="8"] {
    flex: 0 0 8%; }
  [flex-sm="9"] {
    flex: 0 0 9%; }
  [flex-sm="10"] {
    flex: 0 0 10%; }
  [flex-sm="11"] {
    flex: 0 0 11%; }
  [flex-sm="12"] {
    flex: 0 0 12%; }
  [flex-sm="13"] {
    flex: 0 0 13%; }
  [flex-sm="14"] {
    flex: 0 0 14%; }
  [flex-sm="15"] {
    flex: 0 0 15%; }
  [flex-sm="16"] {
    flex: 0 0 16%; }
  [flex-sm="17"] {
    flex: 0 0 17%; }
  [flex-sm="18"] {
    flex: 0 0 18%; }
  [flex-sm="19"] {
    flex: 0 0 19%; }
  [flex-sm="20"] {
    flex: 0 0 20%; }
  [flex-sm="21"] {
    flex: 0 0 21%; }
  [flex-sm="22"] {
    flex: 0 0 22%; }
  [flex-sm="23"] {
    flex: 0 0 23%; }
  [flex-sm="24"] {
    flex: 0 0 24%; }
  [flex-sm="25"] {
    flex: 0 0 25%; }
  [flex-sm="26"] {
    flex: 0 0 26%; }
  [flex-sm="27"] {
    flex: 0 0 27%; }
  [flex-sm="28"] {
    flex: 0 0 28%; }
  [flex-sm="29"] {
    flex: 0 0 29%; }
  [flex-sm="30"] {
    flex: 0 0 30%; }
  [flex-sm="31"] {
    flex: 0 0 31%; }
  [flex-sm="32"] {
    flex: 0 0 32%; }
  [flex-sm="33"] {
    flex: 0 0 33%; }
  [flex-sm="34"] {
    flex: 0 0 34%; }
  [flex-sm="35"] {
    flex: 0 0 35%; }
  [flex-sm="36"] {
    flex: 0 0 36%; }
  [flex-sm="37"] {
    flex: 0 0 37%; }
  [flex-sm="38"] {
    flex: 0 0 38%; }
  [flex-sm="39"] {
    flex: 0 0 39%; }
  [flex-sm="40"] {
    flex: 0 0 40%; }
  [flex-sm="41"] {
    flex: 0 0 41%; }
  [flex-sm="42"] {
    flex: 0 0 42%; }
  [flex-sm="43"] {
    flex: 0 0 43%; }
  [flex-sm="44"] {
    flex: 0 0 44%; }
  [flex-sm="45"] {
    flex: 0 0 45%; }
  [flex-sm="46"] {
    flex: 0 0 46%; }
  [flex-sm="47"] {
    flex: 0 0 47%; }
  [flex-sm="48"] {
    flex: 0 0 48%; }
  [flex-sm="49"] {
    flex: 0 0 49%; }
  [flex-sm="50"] {
    flex: 0 0 50%; }
  [flex-sm="51"] {
    flex: 0 0 51%; }
  [flex-sm="52"] {
    flex: 0 0 52%; }
  [flex-sm="53"] {
    flex: 0 0 53%; }
  [flex-sm="54"] {
    flex: 0 0 54%; }
  [flex-sm="55"] {
    flex: 0 0 55%; }
  [flex-sm="56"] {
    flex: 0 0 56%; }
  [flex-sm="57"] {
    flex: 0 0 57%; }
  [flex-sm="58"] {
    flex: 0 0 58%; }
  [flex-sm="59"] {
    flex: 0 0 59%; }
  [flex-sm="60"] {
    flex: 0 0 60%; }
  [flex-sm="61"] {
    flex: 0 0 61%; }
  [flex-sm="62"] {
    flex: 0 0 62%; }
  [flex-sm="63"] {
    flex: 0 0 63%; }
  [flex-sm="64"] {
    flex: 0 0 64%; }
  [flex-sm="65"] {
    flex: 0 0 65%; }
  [flex-sm="66"] {
    flex: 0 0 66%; }
  [flex-sm="67"] {
    flex: 0 0 67%; }
  [flex-sm="68"] {
    flex: 0 0 68%; }
  [flex-sm="69"] {
    flex: 0 0 69%; }
  [flex-sm="70"] {
    flex: 0 0 70%; }
  [flex-sm="71"] {
    flex: 0 0 71%; }
  [flex-sm="72"] {
    flex: 0 0 72%; }
  [flex-sm="73"] {
    flex: 0 0 73%; }
  [flex-sm="74"] {
    flex: 0 0 74%; }
  [flex-sm="75"] {
    flex: 0 0 75%; }
  [flex-sm="76"] {
    flex: 0 0 76%; }
  [flex-sm="77"] {
    flex: 0 0 77%; }
  [flex-sm="78"] {
    flex: 0 0 78%; }
  [flex-sm="79"] {
    flex: 0 0 79%; }
  [flex-sm="80"] {
    flex: 0 0 80%; }
  [flex-sm="81"] {
    flex: 0 0 81%; }
  [flex-sm="82"] {
    flex: 0 0 82%; }
  [flex-sm="83"] {
    flex: 0 0 83%; }
  [flex-sm="84"] {
    flex: 0 0 84%; }
  [flex-sm="85"] {
    flex: 0 0 85%; }
  [flex-sm="86"] {
    flex: 0 0 86%; }
  [flex-sm="87"] {
    flex: 0 0 87%; }
  [flex-sm="88"] {
    flex: 0 0 88%; }
  [flex-sm="89"] {
    flex: 0 0 89%; }
  [flex-sm="90"] {
    flex: 0 0 90%; }
  [flex-sm="91"] {
    flex: 0 0 91%; }
  [flex-sm="92"] {
    flex: 0 0 92%; }
  [flex-sm="93"] {
    flex: 0 0 93%; }
  [flex-sm="94"] {
    flex: 0 0 94%; }
  [flex-sm="95"] {
    flex: 0 0 95%; }
  [flex-sm="96"] {
    flex: 0 0 96%; }
  [flex-sm="97"] {
    flex: 0 0 97%; }
  [flex-sm="98"] {
    flex: 0 0 98%; }
  [flex-sm="99"] {
    flex: 0 0 99%; }
  [flex-sm="100"] {
    flex: 0 0 100%; } }

@media (min-width: 601px) {
  [layout-gt-sm="row"] {
    flex-direction: row; }
  [layout-gt-sm="col"] {
    flex-direction: column; }
  [layout-wrap-gt-sm] {
    flex-wrap: wrap; }
  [flex-gt-sm="1"] {
    flex: 0 0 1%; }
  [flex-gt-sm="2"] {
    flex: 0 0 2%; }
  [flex-gt-sm="3"] {
    flex: 0 0 3%; }
  [flex-gt-sm="4"] {
    flex: 0 0 4%; }
  [flex-gt-sm="5"] {
    flex: 0 0 5%; }
  [flex-gt-sm="6"] {
    flex: 0 0 6%; }
  [flex-gt-sm="7"] {
    flex: 0 0 7%; }
  [flex-gt-sm="8"] {
    flex: 0 0 8%; }
  [flex-gt-sm="9"] {
    flex: 0 0 9%; }
  [flex-gt-sm="10"] {
    flex: 0 0 10%; }
  [flex-gt-sm="11"] {
    flex: 0 0 11%; }
  [flex-gt-sm="12"] {
    flex: 0 0 12%; }
  [flex-gt-sm="13"] {
    flex: 0 0 13%; }
  [flex-gt-sm="14"] {
    flex: 0 0 14%; }
  [flex-gt-sm="15"] {
    flex: 0 0 15%; }
  [flex-gt-sm="16"] {
    flex: 0 0 16%; }
  [flex-gt-sm="17"] {
    flex: 0 0 17%; }
  [flex-gt-sm="18"] {
    flex: 0 0 18%; }
  [flex-gt-sm="19"] {
    flex: 0 0 19%; }
  [flex-gt-sm="20"] {
    flex: 0 0 20%; }
  [flex-gt-sm="21"] {
    flex: 0 0 21%; }
  [flex-gt-sm="22"] {
    flex: 0 0 22%; }
  [flex-gt-sm="23"] {
    flex: 0 0 23%; }
  [flex-gt-sm="24"] {
    flex: 0 0 24%; }
  [flex-gt-sm="25"] {
    flex: 0 0 25%; }
  [flex-gt-sm="26"] {
    flex: 0 0 26%; }
  [flex-gt-sm="27"] {
    flex: 0 0 27%; }
  [flex-gt-sm="28"] {
    flex: 0 0 28%; }
  [flex-gt-sm="29"] {
    flex: 0 0 29%; }
  [flex-gt-sm="30"] {
    flex: 0 0 30%; }
  [flex-gt-sm="31"] {
    flex: 0 0 31%; }
  [flex-gt-sm="32"] {
    flex: 0 0 32%; }
  [flex-gt-sm="33"] {
    flex: 0 0 33%; }
  [flex-gt-sm="34"] {
    flex: 0 0 34%; }
  [flex-gt-sm="35"] {
    flex: 0 0 35%; }
  [flex-gt-sm="36"] {
    flex: 0 0 36%; }
  [flex-gt-sm="37"] {
    flex: 0 0 37%; }
  [flex-gt-sm="38"] {
    flex: 0 0 38%; }
  [flex-gt-sm="39"] {
    flex: 0 0 39%; }
  [flex-gt-sm="40"] {
    flex: 0 0 40%; }
  [flex-gt-sm="41"] {
    flex: 0 0 41%; }
  [flex-gt-sm="42"] {
    flex: 0 0 42%; }
  [flex-gt-sm="43"] {
    flex: 0 0 43%; }
  [flex-gt-sm="44"] {
    flex: 0 0 44%; }
  [flex-gt-sm="45"] {
    flex: 0 0 45%; }
  [flex-gt-sm="46"] {
    flex: 0 0 46%; }
  [flex-gt-sm="47"] {
    flex: 0 0 47%; }
  [flex-gt-sm="48"] {
    flex: 0 0 48%; }
  [flex-gt-sm="49"] {
    flex: 0 0 49%; }
  [flex-gt-sm="50"] {
    flex: 0 0 50%; }
  [flex-gt-sm="51"] {
    flex: 0 0 51%; }
  [flex-gt-sm="52"] {
    flex: 0 0 52%; }
  [flex-gt-sm="53"] {
    flex: 0 0 53%; }
  [flex-gt-sm="54"] {
    flex: 0 0 54%; }
  [flex-gt-sm="55"] {
    flex: 0 0 55%; }
  [flex-gt-sm="56"] {
    flex: 0 0 56%; }
  [flex-gt-sm="57"] {
    flex: 0 0 57%; }
  [flex-gt-sm="58"] {
    flex: 0 0 58%; }
  [flex-gt-sm="59"] {
    flex: 0 0 59%; }
  [flex-gt-sm="60"] {
    flex: 0 0 60%; }
  [flex-gt-sm="61"] {
    flex: 0 0 61%; }
  [flex-gt-sm="62"] {
    flex: 0 0 62%; }
  [flex-gt-sm="63"] {
    flex: 0 0 63%; }
  [flex-gt-sm="64"] {
    flex: 0 0 64%; }
  [flex-gt-sm="65"] {
    flex: 0 0 65%; }
  [flex-gt-sm="66"] {
    flex: 0 0 66%; }
  [flex-gt-sm="67"] {
    flex: 0 0 67%; }
  [flex-gt-sm="68"] {
    flex: 0 0 68%; }
  [flex-gt-sm="69"] {
    flex: 0 0 69%; }
  [flex-gt-sm="70"] {
    flex: 0 0 70%; }
  [flex-gt-sm="71"] {
    flex: 0 0 71%; }
  [flex-gt-sm="72"] {
    flex: 0 0 72%; }
  [flex-gt-sm="73"] {
    flex: 0 0 73%; }
  [flex-gt-sm="74"] {
    flex: 0 0 74%; }
  [flex-gt-sm="75"] {
    flex: 0 0 75%; }
  [flex-gt-sm="76"] {
    flex: 0 0 76%; }
  [flex-gt-sm="77"] {
    flex: 0 0 77%; }
  [flex-gt-sm="78"] {
    flex: 0 0 78%; }
  [flex-gt-sm="79"] {
    flex: 0 0 79%; }
  [flex-gt-sm="80"] {
    flex: 0 0 80%; }
  [flex-gt-sm="81"] {
    flex: 0 0 81%; }
  [flex-gt-sm="82"] {
    flex: 0 0 82%; }
  [flex-gt-sm="83"] {
    flex: 0 0 83%; }
  [flex-gt-sm="84"] {
    flex: 0 0 84%; }
  [flex-gt-sm="85"] {
    flex: 0 0 85%; }
  [flex-gt-sm="86"] {
    flex: 0 0 86%; }
  [flex-gt-sm="87"] {
    flex: 0 0 87%; }
  [flex-gt-sm="88"] {
    flex: 0 0 88%; }
  [flex-gt-sm="89"] {
    flex: 0 0 89%; }
  [flex-gt-sm="90"] {
    flex: 0 0 90%; }
  [flex-gt-sm="91"] {
    flex: 0 0 91%; }
  [flex-gt-sm="92"] {
    flex: 0 0 92%; }
  [flex-gt-sm="93"] {
    flex: 0 0 93%; }
  [flex-gt-sm="94"] {
    flex: 0 0 94%; }
  [flex-gt-sm="95"] {
    flex: 0 0 95%; }
  [flex-gt-sm="96"] {
    flex: 0 0 96%; }
  [flex-gt-sm="97"] {
    flex: 0 0 97%; }
  [flex-gt-sm="98"] {
    flex: 0 0 98%; }
  [flex-gt-sm="99"] {
    flex: 0 0 99%; }
  [flex-gt-sm="100"] {
    flex: 0 0 100%; } }

@media (max-width: 960px) {
  [layout-md="row"] {
    flex-direction: row; }
  [layout-md="col"] {
    flex-direction: column; }
  [layout-wrap-md] {
    flex-wrap: wrap; }
  [flex-md="1"] {
    flex: 0 0 1%; }
  [flex-md="2"] {
    flex: 0 0 2%; }
  [flex-md="3"] {
    flex: 0 0 3%; }
  [flex-md="4"] {
    flex: 0 0 4%; }
  [flex-md="5"] {
    flex: 0 0 5%; }
  [flex-md="6"] {
    flex: 0 0 6%; }
  [flex-md="7"] {
    flex: 0 0 7%; }
  [flex-md="8"] {
    flex: 0 0 8%; }
  [flex-md="9"] {
    flex: 0 0 9%; }
  [flex-md="10"] {
    flex: 0 0 10%; }
  [flex-md="11"] {
    flex: 0 0 11%; }
  [flex-md="12"] {
    flex: 0 0 12%; }
  [flex-md="13"] {
    flex: 0 0 13%; }
  [flex-md="14"] {
    flex: 0 0 14%; }
  [flex-md="15"] {
    flex: 0 0 15%; }
  [flex-md="16"] {
    flex: 0 0 16%; }
  [flex-md="17"] {
    flex: 0 0 17%; }
  [flex-md="18"] {
    flex: 0 0 18%; }
  [flex-md="19"] {
    flex: 0 0 19%; }
  [flex-md="20"] {
    flex: 0 0 20%; }
  [flex-md="21"] {
    flex: 0 0 21%; }
  [flex-md="22"] {
    flex: 0 0 22%; }
  [flex-md="23"] {
    flex: 0 0 23%; }
  [flex-md="24"] {
    flex: 0 0 24%; }
  [flex-md="25"] {
    flex: 0 0 25%; }
  [flex-md="26"] {
    flex: 0 0 26%; }
  [flex-md="27"] {
    flex: 0 0 27%; }
  [flex-md="28"] {
    flex: 0 0 28%; }
  [flex-md="29"] {
    flex: 0 0 29%; }
  [flex-md="30"] {
    flex: 0 0 30%; }
  [flex-md="31"] {
    flex: 0 0 31%; }
  [flex-md="32"] {
    flex: 0 0 32%; }
  [flex-md="33"] {
    flex: 0 0 33%; }
  [flex-md="34"] {
    flex: 0 0 34%; }
  [flex-md="35"] {
    flex: 0 0 35%; }
  [flex-md="36"] {
    flex: 0 0 36%; }
  [flex-md="37"] {
    flex: 0 0 37%; }
  [flex-md="38"] {
    flex: 0 0 38%; }
  [flex-md="39"] {
    flex: 0 0 39%; }
  [flex-md="40"] {
    flex: 0 0 40%; }
  [flex-md="41"] {
    flex: 0 0 41%; }
  [flex-md="42"] {
    flex: 0 0 42%; }
  [flex-md="43"] {
    flex: 0 0 43%; }
  [flex-md="44"] {
    flex: 0 0 44%; }
  [flex-md="45"] {
    flex: 0 0 45%; }
  [flex-md="46"] {
    flex: 0 0 46%; }
  [flex-md="47"] {
    flex: 0 0 47%; }
  [flex-md="48"] {
    flex: 0 0 48%; }
  [flex-md="49"] {
    flex: 0 0 49%; }
  [flex-md="50"] {
    flex: 0 0 50%; }
  [flex-md="51"] {
    flex: 0 0 51%; }
  [flex-md="52"] {
    flex: 0 0 52%; }
  [flex-md="53"] {
    flex: 0 0 53%; }
  [flex-md="54"] {
    flex: 0 0 54%; }
  [flex-md="55"] {
    flex: 0 0 55%; }
  [flex-md="56"] {
    flex: 0 0 56%; }
  [flex-md="57"] {
    flex: 0 0 57%; }
  [flex-md="58"] {
    flex: 0 0 58%; }
  [flex-md="59"] {
    flex: 0 0 59%; }
  [flex-md="60"] {
    flex: 0 0 60%; }
  [flex-md="61"] {
    flex: 0 0 61%; }
  [flex-md="62"] {
    flex: 0 0 62%; }
  [flex-md="63"] {
    flex: 0 0 63%; }
  [flex-md="64"] {
    flex: 0 0 64%; }
  [flex-md="65"] {
    flex: 0 0 65%; }
  [flex-md="66"] {
    flex: 0 0 66%; }
  [flex-md="67"] {
    flex: 0 0 67%; }
  [flex-md="68"] {
    flex: 0 0 68%; }
  [flex-md="69"] {
    flex: 0 0 69%; }
  [flex-md="70"] {
    flex: 0 0 70%; }
  [flex-md="71"] {
    flex: 0 0 71%; }
  [flex-md="72"] {
    flex: 0 0 72%; }
  [flex-md="73"] {
    flex: 0 0 73%; }
  [flex-md="74"] {
    flex: 0 0 74%; }
  [flex-md="75"] {
    flex: 0 0 75%; }
  [flex-md="76"] {
    flex: 0 0 76%; }
  [flex-md="77"] {
    flex: 0 0 77%; }
  [flex-md="78"] {
    flex: 0 0 78%; }
  [flex-md="79"] {
    flex: 0 0 79%; }
  [flex-md="80"] {
    flex: 0 0 80%; }
  [flex-md="81"] {
    flex: 0 0 81%; }
  [flex-md="82"] {
    flex: 0 0 82%; }
  [flex-md="83"] {
    flex: 0 0 83%; }
  [flex-md="84"] {
    flex: 0 0 84%; }
  [flex-md="85"] {
    flex: 0 0 85%; }
  [flex-md="86"] {
    flex: 0 0 86%; }
  [flex-md="87"] {
    flex: 0 0 87%; }
  [flex-md="88"] {
    flex: 0 0 88%; }
  [flex-md="89"] {
    flex: 0 0 89%; }
  [flex-md="90"] {
    flex: 0 0 90%; }
  [flex-md="91"] {
    flex: 0 0 91%; }
  [flex-md="92"] {
    flex: 0 0 92%; }
  [flex-md="93"] {
    flex: 0 0 93%; }
  [flex-md="94"] {
    flex: 0 0 94%; }
  [flex-md="95"] {
    flex: 0 0 95%; }
  [flex-md="96"] {
    flex: 0 0 96%; }
  [flex-md="97"] {
    flex: 0 0 97%; }
  [flex-md="98"] {
    flex: 0 0 98%; }
  [flex-md="99"] {
    flex: 0 0 99%; }
  [flex-md="100"] {
    flex: 0 0 100%; } }

@media (min-width: 961px) {
  [layout-gt-md="row"] {
    flex-direction: row; }
  [layout-gt-md="col"] {
    flex-direction: column; }
  [layout-wrap-gt-md] {
    flex-wrap: wrap; }
  [flex-gt-md="1"] {
    flex: 0 0 1%; }
  [flex-gt-md="2"] {
    flex: 0 0 2%; }
  [flex-gt-md="3"] {
    flex: 0 0 3%; }
  [flex-gt-md="4"] {
    flex: 0 0 4%; }
  [flex-gt-md="5"] {
    flex: 0 0 5%; }
  [flex-gt-md="6"] {
    flex: 0 0 6%; }
  [flex-gt-md="7"] {
    flex: 0 0 7%; }
  [flex-gt-md="8"] {
    flex: 0 0 8%; }
  [flex-gt-md="9"] {
    flex: 0 0 9%; }
  [flex-gt-md="10"] {
    flex: 0 0 10%; }
  [flex-gt-md="11"] {
    flex: 0 0 11%; }
  [flex-gt-md="12"] {
    flex: 0 0 12%; }
  [flex-gt-md="13"] {
    flex: 0 0 13%; }
  [flex-gt-md="14"] {
    flex: 0 0 14%; }
  [flex-gt-md="15"] {
    flex: 0 0 15%; }
  [flex-gt-md="16"] {
    flex: 0 0 16%; }
  [flex-gt-md="17"] {
    flex: 0 0 17%; }
  [flex-gt-md="18"] {
    flex: 0 0 18%; }
  [flex-gt-md="19"] {
    flex: 0 0 19%; }
  [flex-gt-md="20"] {
    flex: 0 0 20%; }
  [flex-gt-md="21"] {
    flex: 0 0 21%; }
  [flex-gt-md="22"] {
    flex: 0 0 22%; }
  [flex-gt-md="23"] {
    flex: 0 0 23%; }
  [flex-gt-md="24"] {
    flex: 0 0 24%; }
  [flex-gt-md="25"] {
    flex: 0 0 25%; }
  [flex-gt-md="26"] {
    flex: 0 0 26%; }
  [flex-gt-md="27"] {
    flex: 0 0 27%; }
  [flex-gt-md="28"] {
    flex: 0 0 28%; }
  [flex-gt-md="29"] {
    flex: 0 0 29%; }
  [flex-gt-md="30"] {
    flex: 0 0 30%; }
  [flex-gt-md="31"] {
    flex: 0 0 31%; }
  [flex-gt-md="32"] {
    flex: 0 0 32%; }
  [flex-gt-md="33"] {
    flex: 0 0 33%; }
  [flex-gt-md="34"] {
    flex: 0 0 34%; }
  [flex-gt-md="35"] {
    flex: 0 0 35%; }
  [flex-gt-md="36"] {
    flex: 0 0 36%; }
  [flex-gt-md="37"] {
    flex: 0 0 37%; }
  [flex-gt-md="38"] {
    flex: 0 0 38%; }
  [flex-gt-md="39"] {
    flex: 0 0 39%; }
  [flex-gt-md="40"] {
    flex: 0 0 40%; }
  [flex-gt-md="41"] {
    flex: 0 0 41%; }
  [flex-gt-md="42"] {
    flex: 0 0 42%; }
  [flex-gt-md="43"] {
    flex: 0 0 43%; }
  [flex-gt-md="44"] {
    flex: 0 0 44%; }
  [flex-gt-md="45"] {
    flex: 0 0 45%; }
  [flex-gt-md="46"] {
    flex: 0 0 46%; }
  [flex-gt-md="47"] {
    flex: 0 0 47%; }
  [flex-gt-md="48"] {
    flex: 0 0 48%; }
  [flex-gt-md="49"] {
    flex: 0 0 49%; }
  [flex-gt-md="50"] {
    flex: 0 0 50%; }
  [flex-gt-md="51"] {
    flex: 0 0 51%; }
  [flex-gt-md="52"] {
    flex: 0 0 52%; }
  [flex-gt-md="53"] {
    flex: 0 0 53%; }
  [flex-gt-md="54"] {
    flex: 0 0 54%; }
  [flex-gt-md="55"] {
    flex: 0 0 55%; }
  [flex-gt-md="56"] {
    flex: 0 0 56%; }
  [flex-gt-md="57"] {
    flex: 0 0 57%; }
  [flex-gt-md="58"] {
    flex: 0 0 58%; }
  [flex-gt-md="59"] {
    flex: 0 0 59%; }
  [flex-gt-md="60"] {
    flex: 0 0 60%; }
  [flex-gt-md="61"] {
    flex: 0 0 61%; }
  [flex-gt-md="62"] {
    flex: 0 0 62%; }
  [flex-gt-md="63"] {
    flex: 0 0 63%; }
  [flex-gt-md="64"] {
    flex: 0 0 64%; }
  [flex-gt-md="65"] {
    flex: 0 0 65%; }
  [flex-gt-md="66"] {
    flex: 0 0 66%; }
  [flex-gt-md="67"] {
    flex: 0 0 67%; }
  [flex-gt-md="68"] {
    flex: 0 0 68%; }
  [flex-gt-md="69"] {
    flex: 0 0 69%; }
  [flex-gt-md="70"] {
    flex: 0 0 70%; }
  [flex-gt-md="71"] {
    flex: 0 0 71%; }
  [flex-gt-md="72"] {
    flex: 0 0 72%; }
  [flex-gt-md="73"] {
    flex: 0 0 73%; }
  [flex-gt-md="74"] {
    flex: 0 0 74%; }
  [flex-gt-md="75"] {
    flex: 0 0 75%; }
  [flex-gt-md="76"] {
    flex: 0 0 76%; }
  [flex-gt-md="77"] {
    flex: 0 0 77%; }
  [flex-gt-md="78"] {
    flex: 0 0 78%; }
  [flex-gt-md="79"] {
    flex: 0 0 79%; }
  [flex-gt-md="80"] {
    flex: 0 0 80%; }
  [flex-gt-md="81"] {
    flex: 0 0 81%; }
  [flex-gt-md="82"] {
    flex: 0 0 82%; }
  [flex-gt-md="83"] {
    flex: 0 0 83%; }
  [flex-gt-md="84"] {
    flex: 0 0 84%; }
  [flex-gt-md="85"] {
    flex: 0 0 85%; }
  [flex-gt-md="86"] {
    flex: 0 0 86%; }
  [flex-gt-md="87"] {
    flex: 0 0 87%; }
  [flex-gt-md="88"] {
    flex: 0 0 88%; }
  [flex-gt-md="89"] {
    flex: 0 0 89%; }
  [flex-gt-md="90"] {
    flex: 0 0 90%; }
  [flex-gt-md="91"] {
    flex: 0 0 91%; }
  [flex-gt-md="92"] {
    flex: 0 0 92%; }
  [flex-gt-md="93"] {
    flex: 0 0 93%; }
  [flex-gt-md="94"] {
    flex: 0 0 94%; }
  [flex-gt-md="95"] {
    flex: 0 0 95%; }
  [flex-gt-md="96"] {
    flex: 0 0 96%; }
  [flex-gt-md="97"] {
    flex: 0 0 97%; }
  [flex-gt-md="98"] {
    flex: 0 0 98%; }
  [flex-gt-md="99"] {
    flex: 0 0 99%; }
  [flex-gt-md="100"] {
    flex: 0 0 100%; } }

@media (max-width: 1200px) {
  [layout-lg="row"] {
    flex-direction: row; }
  [layout-lg="col"] {
    flex-direction: column; }
  [layout-wrap-lg] {
    flex-wrap: wrap; }
  [flex-lg="1"] {
    flex: 0 0 1%; }
  [flex-lg="2"] {
    flex: 0 0 2%; }
  [flex-lg="3"] {
    flex: 0 0 3%; }
  [flex-lg="4"] {
    flex: 0 0 4%; }
  [flex-lg="5"] {
    flex: 0 0 5%; }
  [flex-lg="6"] {
    flex: 0 0 6%; }
  [flex-lg="7"] {
    flex: 0 0 7%; }
  [flex-lg="8"] {
    flex: 0 0 8%; }
  [flex-lg="9"] {
    flex: 0 0 9%; }
  [flex-lg="10"] {
    flex: 0 0 10%; }
  [flex-lg="11"] {
    flex: 0 0 11%; }
  [flex-lg="12"] {
    flex: 0 0 12%; }
  [flex-lg="13"] {
    flex: 0 0 13%; }
  [flex-lg="14"] {
    flex: 0 0 14%; }
  [flex-lg="15"] {
    flex: 0 0 15%; }
  [flex-lg="16"] {
    flex: 0 0 16%; }
  [flex-lg="17"] {
    flex: 0 0 17%; }
  [flex-lg="18"] {
    flex: 0 0 18%; }
  [flex-lg="19"] {
    flex: 0 0 19%; }
  [flex-lg="20"] {
    flex: 0 0 20%; }
  [flex-lg="21"] {
    flex: 0 0 21%; }
  [flex-lg="22"] {
    flex: 0 0 22%; }
  [flex-lg="23"] {
    flex: 0 0 23%; }
  [flex-lg="24"] {
    flex: 0 0 24%; }
  [flex-lg="25"] {
    flex: 0 0 25%; }
  [flex-lg="26"] {
    flex: 0 0 26%; }
  [flex-lg="27"] {
    flex: 0 0 27%; }
  [flex-lg="28"] {
    flex: 0 0 28%; }
  [flex-lg="29"] {
    flex: 0 0 29%; }
  [flex-lg="30"] {
    flex: 0 0 30%; }
  [flex-lg="31"] {
    flex: 0 0 31%; }
  [flex-lg="32"] {
    flex: 0 0 32%; }
  [flex-lg="33"] {
    flex: 0 0 33%; }
  [flex-lg="34"] {
    flex: 0 0 34%; }
  [flex-lg="35"] {
    flex: 0 0 35%; }
  [flex-lg="36"] {
    flex: 0 0 36%; }
  [flex-lg="37"] {
    flex: 0 0 37%; }
  [flex-lg="38"] {
    flex: 0 0 38%; }
  [flex-lg="39"] {
    flex: 0 0 39%; }
  [flex-lg="40"] {
    flex: 0 0 40%; }
  [flex-lg="41"] {
    flex: 0 0 41%; }
  [flex-lg="42"] {
    flex: 0 0 42%; }
  [flex-lg="43"] {
    flex: 0 0 43%; }
  [flex-lg="44"] {
    flex: 0 0 44%; }
  [flex-lg="45"] {
    flex: 0 0 45%; }
  [flex-lg="46"] {
    flex: 0 0 46%; }
  [flex-lg="47"] {
    flex: 0 0 47%; }
  [flex-lg="48"] {
    flex: 0 0 48%; }
  [flex-lg="49"] {
    flex: 0 0 49%; }
  [flex-lg="50"] {
    flex: 0 0 50%; }
  [flex-lg="51"] {
    flex: 0 0 51%; }
  [flex-lg="52"] {
    flex: 0 0 52%; }
  [flex-lg="53"] {
    flex: 0 0 53%; }
  [flex-lg="54"] {
    flex: 0 0 54%; }
  [flex-lg="55"] {
    flex: 0 0 55%; }
  [flex-lg="56"] {
    flex: 0 0 56%; }
  [flex-lg="57"] {
    flex: 0 0 57%; }
  [flex-lg="58"] {
    flex: 0 0 58%; }
  [flex-lg="59"] {
    flex: 0 0 59%; }
  [flex-lg="60"] {
    flex: 0 0 60%; }
  [flex-lg="61"] {
    flex: 0 0 61%; }
  [flex-lg="62"] {
    flex: 0 0 62%; }
  [flex-lg="63"] {
    flex: 0 0 63%; }
  [flex-lg="64"] {
    flex: 0 0 64%; }
  [flex-lg="65"] {
    flex: 0 0 65%; }
  [flex-lg="66"] {
    flex: 0 0 66%; }
  [flex-lg="67"] {
    flex: 0 0 67%; }
  [flex-lg="68"] {
    flex: 0 0 68%; }
  [flex-lg="69"] {
    flex: 0 0 69%; }
  [flex-lg="70"] {
    flex: 0 0 70%; }
  [flex-lg="71"] {
    flex: 0 0 71%; }
  [flex-lg="72"] {
    flex: 0 0 72%; }
  [flex-lg="73"] {
    flex: 0 0 73%; }
  [flex-lg="74"] {
    flex: 0 0 74%; }
  [flex-lg="75"] {
    flex: 0 0 75%; }
  [flex-lg="76"] {
    flex: 0 0 76%; }
  [flex-lg="77"] {
    flex: 0 0 77%; }
  [flex-lg="78"] {
    flex: 0 0 78%; }
  [flex-lg="79"] {
    flex: 0 0 79%; }
  [flex-lg="80"] {
    flex: 0 0 80%; }
  [flex-lg="81"] {
    flex: 0 0 81%; }
  [flex-lg="82"] {
    flex: 0 0 82%; }
  [flex-lg="83"] {
    flex: 0 0 83%; }
  [flex-lg="84"] {
    flex: 0 0 84%; }
  [flex-lg="85"] {
    flex: 0 0 85%; }
  [flex-lg="86"] {
    flex: 0 0 86%; }
  [flex-lg="87"] {
    flex: 0 0 87%; }
  [flex-lg="88"] {
    flex: 0 0 88%; }
  [flex-lg="89"] {
    flex: 0 0 89%; }
  [flex-lg="90"] {
    flex: 0 0 90%; }
  [flex-lg="91"] {
    flex: 0 0 91%; }
  [flex-lg="92"] {
    flex: 0 0 92%; }
  [flex-lg="93"] {
    flex: 0 0 93%; }
  [flex-lg="94"] {
    flex: 0 0 94%; }
  [flex-lg="95"] {
    flex: 0 0 95%; }
  [flex-lg="96"] {
    flex: 0 0 96%; }
  [flex-lg="97"] {
    flex: 0 0 97%; }
  [flex-lg="98"] {
    flex: 0 0 98%; }
  [flex-lg="99"] {
    flex: 0 0 99%; }
  [flex-lg="100"] {
    flex: 0 0 100%; } }

@media (min-width: 1201px) {
  [layout-gt-lg="row"] {
    flex-direction: row; }
  [layout-gt-lg="col"] {
    flex-direction: column; }
  [layout-wrap-gt-lg] {
    flex-wrap: wrap; }
  [flex-gt-lg="1"] {
    flex: 0 0 1%; }
  [flex-gt-lg="2"] {
    flex: 0 0 2%; }
  [flex-gt-lg="3"] {
    flex: 0 0 3%; }
  [flex-gt-lg="4"] {
    flex: 0 0 4%; }
  [flex-gt-lg="5"] {
    flex: 0 0 5%; }
  [flex-gt-lg="6"] {
    flex: 0 0 6%; }
  [flex-gt-lg="7"] {
    flex: 0 0 7%; }
  [flex-gt-lg="8"] {
    flex: 0 0 8%; }
  [flex-gt-lg="9"] {
    flex: 0 0 9%; }
  [flex-gt-lg="10"] {
    flex: 0 0 10%; }
  [flex-gt-lg="11"] {
    flex: 0 0 11%; }
  [flex-gt-lg="12"] {
    flex: 0 0 12%; }
  [flex-gt-lg="13"] {
    flex: 0 0 13%; }
  [flex-gt-lg="14"] {
    flex: 0 0 14%; }
  [flex-gt-lg="15"] {
    flex: 0 0 15%; }
  [flex-gt-lg="16"] {
    flex: 0 0 16%; }
  [flex-gt-lg="17"] {
    flex: 0 0 17%; }
  [flex-gt-lg="18"] {
    flex: 0 0 18%; }
  [flex-gt-lg="19"] {
    flex: 0 0 19%; }
  [flex-gt-lg="20"] {
    flex: 0 0 20%; }
  [flex-gt-lg="21"] {
    flex: 0 0 21%; }
  [flex-gt-lg="22"] {
    flex: 0 0 22%; }
  [flex-gt-lg="23"] {
    flex: 0 0 23%; }
  [flex-gt-lg="24"] {
    flex: 0 0 24%; }
  [flex-gt-lg="25"] {
    flex: 0 0 25%; }
  [flex-gt-lg="26"] {
    flex: 0 0 26%; }
  [flex-gt-lg="27"] {
    flex: 0 0 27%; }
  [flex-gt-lg="28"] {
    flex: 0 0 28%; }
  [flex-gt-lg="29"] {
    flex: 0 0 29%; }
  [flex-gt-lg="30"] {
    flex: 0 0 30%; }
  [flex-gt-lg="31"] {
    flex: 0 0 31%; }
  [flex-gt-lg="32"] {
    flex: 0 0 32%; }
  [flex-gt-lg="33"] {
    flex: 0 0 33%; }
  [flex-gt-lg="34"] {
    flex: 0 0 34%; }
  [flex-gt-lg="35"] {
    flex: 0 0 35%; }
  [flex-gt-lg="36"] {
    flex: 0 0 36%; }
  [flex-gt-lg="37"] {
    flex: 0 0 37%; }
  [flex-gt-lg="38"] {
    flex: 0 0 38%; }
  [flex-gt-lg="39"] {
    flex: 0 0 39%; }
  [flex-gt-lg="40"] {
    flex: 0 0 40%; }
  [flex-gt-lg="41"] {
    flex: 0 0 41%; }
  [flex-gt-lg="42"] {
    flex: 0 0 42%; }
  [flex-gt-lg="43"] {
    flex: 0 0 43%; }
  [flex-gt-lg="44"] {
    flex: 0 0 44%; }
  [flex-gt-lg="45"] {
    flex: 0 0 45%; }
  [flex-gt-lg="46"] {
    flex: 0 0 46%; }
  [flex-gt-lg="47"] {
    flex: 0 0 47%; }
  [flex-gt-lg="48"] {
    flex: 0 0 48%; }
  [flex-gt-lg="49"] {
    flex: 0 0 49%; }
  [flex-gt-lg="50"] {
    flex: 0 0 50%; }
  [flex-gt-lg="51"] {
    flex: 0 0 51%; }
  [flex-gt-lg="52"] {
    flex: 0 0 52%; }
  [flex-gt-lg="53"] {
    flex: 0 0 53%; }
  [flex-gt-lg="54"] {
    flex: 0 0 54%; }
  [flex-gt-lg="55"] {
    flex: 0 0 55%; }
  [flex-gt-lg="56"] {
    flex: 0 0 56%; }
  [flex-gt-lg="57"] {
    flex: 0 0 57%; }
  [flex-gt-lg="58"] {
    flex: 0 0 58%; }
  [flex-gt-lg="59"] {
    flex: 0 0 59%; }
  [flex-gt-lg="60"] {
    flex: 0 0 60%; }
  [flex-gt-lg="61"] {
    flex: 0 0 61%; }
  [flex-gt-lg="62"] {
    flex: 0 0 62%; }
  [flex-gt-lg="63"] {
    flex: 0 0 63%; }
  [flex-gt-lg="64"] {
    flex: 0 0 64%; }
  [flex-gt-lg="65"] {
    flex: 0 0 65%; }
  [flex-gt-lg="66"] {
    flex: 0 0 66%; }
  [flex-gt-lg="67"] {
    flex: 0 0 67%; }
  [flex-gt-lg="68"] {
    flex: 0 0 68%; }
  [flex-gt-lg="69"] {
    flex: 0 0 69%; }
  [flex-gt-lg="70"] {
    flex: 0 0 70%; }
  [flex-gt-lg="71"] {
    flex: 0 0 71%; }
  [flex-gt-lg="72"] {
    flex: 0 0 72%; }
  [flex-gt-lg="73"] {
    flex: 0 0 73%; }
  [flex-gt-lg="74"] {
    flex: 0 0 74%; }
  [flex-gt-lg="75"] {
    flex: 0 0 75%; }
  [flex-gt-lg="76"] {
    flex: 0 0 76%; }
  [flex-gt-lg="77"] {
    flex: 0 0 77%; }
  [flex-gt-lg="78"] {
    flex: 0 0 78%; }
  [flex-gt-lg="79"] {
    flex: 0 0 79%; }
  [flex-gt-lg="80"] {
    flex: 0 0 80%; }
  [flex-gt-lg="81"] {
    flex: 0 0 81%; }
  [flex-gt-lg="82"] {
    flex: 0 0 82%; }
  [flex-gt-lg="83"] {
    flex: 0 0 83%; }
  [flex-gt-lg="84"] {
    flex: 0 0 84%; }
  [flex-gt-lg="85"] {
    flex: 0 0 85%; }
  [flex-gt-lg="86"] {
    flex: 0 0 86%; }
  [flex-gt-lg="87"] {
    flex: 0 0 87%; }
  [flex-gt-lg="88"] {
    flex: 0 0 88%; }
  [flex-gt-lg="89"] {
    flex: 0 0 89%; }
  [flex-gt-lg="90"] {
    flex: 0 0 90%; }
  [flex-gt-lg="91"] {
    flex: 0 0 91%; }
  [flex-gt-lg="92"] {
    flex: 0 0 92%; }
  [flex-gt-lg="93"] {
    flex: 0 0 93%; }
  [flex-gt-lg="94"] {
    flex: 0 0 94%; }
  [flex-gt-lg="95"] {
    flex: 0 0 95%; }
  [flex-gt-lg="96"] {
    flex: 0 0 96%; }
  [flex-gt-lg="97"] {
    flex: 0 0 97%; }
  [flex-gt-lg="98"] {
    flex: 0 0 98%; }
  [flex-gt-lg="99"] {
    flex: 0 0 99%; }
  [flex-gt-lg="100"] {
    flex: 0 0 100%; } }
